@import '../../scss/constants.scss';

.opaque-modal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $color-secondary-transparent;

    display: grid;
    grid-template: "top    top    top " 50px
                   "left content right" 1fr
                   "bot    bot    bot " 50px
                /   1fr   900px   1fr;

    >* {
        grid-area: content;
        overflow: scroll;
        width: 100%;
        max-height: 100%;
        -webkit-box-shadow: 0px 0px 100px 20px rgba(12,20,21,1);
        -moz-box-shadow: 0px 0px 100px 20px rgba(12,20,21,1);
        box-shadow: 0px 0px 100px 20px rgba(12,20,21,1);

        border-radius: 2px;
        padding: 5px;
    }

    * {
        background-color: $color-modal;
        color: $color-modal-text;
    }
}
