@import '../../scss/constants.scss';

.opaque-usertag {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    width: 320px;
    cursor: pointer;

    .opaque-ppic {
        display: inline-block;
        width: 25px;
        height: 25px;
        margin-right: 7px;
    }
}
