@import '../scss/constants.scss';

.opaque-profile {
    display: grid;
    grid-template: "ppic  username username" 27px
                   "ppic   bpad    fbutton" 23px
                   "ppic   bio      bio  " 200px
                /   250px  600px   150px;


    .opaque-ppic {
        grid-area: ppic;
        height: 250px;
        width: 250px;
    }

    h1 {
        margin: 0;
        grid-area: username;
        text-align: right;
    }

    .opaque-ui-friendbutton {
        float: right;
        grid-area: fbutton;
        width: 150px;
    }

    .bio {
        grid-area: bio;
        text-align: left;
        margin-left: 7px;

        p {
            margin: 0;
        }
    }
}
