$color-primary: #f8f9fb;
$color-secondary: rgb(12, 20, 21);
$color-secondary-transparent: rgba(12, 20, 21, 0.5);
$color-tertiary: #555;
$color-quaternary: #999;

$color-modal: #111414;
$color-modal-text: $color-primary;

$color-highlight: black;
