@import './constants.scss';
@import './forms.scss';

* {
    box-sizing: border-box;
    font-family: 'Share Tech Mono', monospace;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    background-color: $color-primary;
    color: $color-secondary;
    text-align: center;
}
